header {
  font-family: monospace;
  font-size: 2em;
}

#title {
  text-align: center;
  padding: 0.40em;
  margin: auto;
  color: black;
  background-color: gold;
}

#navbar {
  margin-bottom: 0px;
}

#navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #111;
}

#navbar a {
  text-decoration: none;
  margin: .5em;
  margin-left: 1.5em;
  display: block;
  color: white;
}

#navbar a:hover {
  color: gold;
}

#navbar li {
  float: left;
  display: block;
  color: white;
}

body {
  background-color: black;
  text-align: center;
  color: #f2f2f2;
  font-size: 10px;
}

#homeTitle {
  float: left;
  margin-left: 3em;
}

#infoHome {
  float: right;
  margin-right: 3em;
}

#contactTitle {
  font-size: 4em;
  margin: 0;
}

#contactParagraph {
  font-size: 2em;
}

/* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  header-right {
    float: none;
  }
}